<!DOCTYPE html>
<html>
    <head>
        <title>Quiz Wars</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="/styles/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/importer.css">
    </head>

    <body>
        <header id="logo"></header>
        <script src="/js/dependencies/jquery.min.js"></script>
        <script src="/js/dependencies/parsley.min.js"></script>
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/user.js"></script>
        <script src="/js/chat.js"></script>
        <script src="/js/quiz.js"></script>
        <script src="/js/events.js"></script>
        <%- body %>
    </body>
</html>
